[defaults]
inventory = hosts.ini
host_key_checking = False
deprecation_warnings = False
stdout_callback = default
retry_files_enabled = False

[ssh_connection]
ssh_args = -o ForwardAgent=no -o ControlMaster=auto -o ControlPersist=60s
